<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Riley Goettl | Cybersecurity Journey</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Riley Goettl | Cybersecurity Journey</li></ul>
            <div class="rss-footer-item">
                <a href="/feed.xml" download="rileygoettl-blog-feed.xml">
                    <img src="/_images/rss-icon.png" alt="RSS" style="width:20px; vertical-align:middle;">
                    My Custom RSS Text
                </a>
            </div>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Labs, writeups, scripts and notes on my path to learning more about Cybersecurity.</p>
      </div>
    </div>

  </div>

</footer>
</body>

</html>